$primary-color: #fff;
$secondary-color: #FECC01;
$tertiary-color: #000;
$accent-color: #364670;
$error-color: #d9534f;
$breakpoint-tablet: 768px;
$image-radius: 5px;


// Title font sizes
$font-size-s: 0.75rem;
$font-size-m: 1.125rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;
$font-size-2xl: 2.5rem;
